In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import os
print os.getcwd()

C:\Users\AA\Documents\Pandas

In [3]:
df=pd.read_csv('appy.csv')
df

   a   b   c     d message
0  1   2   3   NaN   hello
1  5   6   7   8.0     NaN
2  9  10  11  12.0     foo

In [4]:
# can aldo read as a table
pd.read_table('appy.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
type ('appy.csv')

str

In [7]:
pd.read_csv('appy1.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('appy1.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('appy1.csv', names=['a','b','c','d','message'], index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [4]:
df

   a   b   c     d message
0  1   2   3   NaN   hello
1  5   6   7   8.0     NaN
2  9  10  11  12.0     foo

In [11]:
df.to_csv('bhai.csv')

In [5]:
import sys
df.to_csv(sys.stdout, sep='|')

|a|b|c|d|message
0|1|2|3||hello
1|5|6|7|8.0|
2|9|10|11|12.0|foo

In [14]:
df=pd.read_csv('appy.csv')

In [15]:
df

   a   b   c     d message
0  1   2   3   NaN   hello
1  5   6   7   8.0     NaN
2  9  10  11  12.0     foo

In [6]:
df.to_csv(sys.stdout, sep='|')

|a|b|c|d|message
0|1|2|3||hello
1|5|6|7|8.0|
2|9|10|11|12.0|foo

In [7]:
df.to_csv(sys.stdout, na_rep='Null')

,a,b,c,d,message
0,1,2,3,Null,hello
1,5,6,7,8.0,Null
2,9,10,11,12.0,foo

In [8]:
df.to_csv(sys.stdout, index=False, header=False)

1,2,3,,hello
5,6,7,8.0,
9,10,11,12.0,foo

In [9]:
date= pd.date_range('1/1/2000', periods=7)

In [20]:
date

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [10]:
ts=Series(np.arange(7), index=date)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [11]:
ts.to_csv('date.csv')

In [12]:
Series.from_csv('date.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [13]:
import csv
f=open('bhai.csv')
reader=csv.reader(f)

In [25]:
reader

In [14]:
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [15]:
lines=list(csv.reader(open('bhai.csv')))

In [16]:
header, values=lines[0], lines[1:]

In [17]:
data_dict={h: v for h, v in zip(header, zip(*values))}

In [18]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [31]:
class my_dialect(csv.Dialect):
    lineterminator= '\n'
    delimiter= ';'
    quotechar= '"'

reader= csv.reader(f,dialect=my_dialect)

TypeError: "quoting" must be an integer

In [20]:
obj="""
{"name": "Wes",
 "places_lives": ["United States","Spain","Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [21]:
import json

In [22]:
result = json.loads(obj)

In [23]:
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lives': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [24]:
asjson=json.dumps(result)

In [25]:
siblings=DataFrame(result['siblings'], columns=['name','age'])

In [26]:
siblings

    name  age
0  Scott   25
1  Katie   33

In [27]:
pd.from_json(asjson)

AttributeError: 'module' object has no attribute 'from_json'

In [28]:
pd.to_json(result)

AttributeError: 'module' object has no attribute 'to_json'