In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
obj = Series(range(3), index=['a','b','c'])

In [4]:
obj

a    0
b    1
c    2
dtype: int64

In [5]:
index=obj.index
index

Index([u'a', u'b', u'c'], dtype='object')

In [7]:
index[1:]

Index([u'b', u'c'], dtype='object')

In [8]:
index[1]='d'

TypeError: Index does not support mutable operations

In [9]:
index = pd.Index(np.arange(3))

In [10]:
index

Int64Index([0, 1, 2], dtype='int64')

In [11]:
obj2=Series([1.5,-2.5,0], index=index)

In [12]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [13]:
obj2.index is index

True

In [14]:
pop={'Nevada':{2001:2.4, 2002:2.9},
    'Ohio':{2000:1.5, 2001:1.7, 2002:3.6}}
frame3=DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [15]:
'Ohio' in frame3.columns

True

In [16]:
2003 in frame3.index

False

In [17]:
obj2=obj.reindex(['a','b','c'])

In [18]:
obj2

a    0
b    1
c    2
dtype: int64

In [19]:
obj3=Series(['Blue','Purple','Yellow'], index=[0,2,4])

In [20]:
obj3

0      Blue
2    Purple
4    Yellow
dtype: object

In [21]:
obj3.reindex(range(6), method='ffill')

0      Blue
1      Blue
2    Purple
3    Purple
4    Yellow
5    Yellow
dtype: object

In [22]:
obj3

0      Blue
2    Purple
4    Yellow
dtype: object

In [24]:
frame = DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],
                 columns=['Ohio','Texas','California'])

In [32]:
frame

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [26]:
frame=frame.reindex(['a','b','c','d'])

In [27]:
frame

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [29]:
states= ['Texas','Utah','California']

In [31]:
frame.reindex(columns=states)

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [33]:
obj=Series(np.arange(5), index=['a','b','c','d','e'])

In [34]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [35]:
newobj=obj.drop('c')

In [36]:
newobj

a    0
b    1
d    3
e    4
dtype: int32