In [1]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

In [2]:
obj=Series(range(4), index=['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [4]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [5]:
frame=DataFrame(np.arange(8).reshape((2,4)), index=['three','one'], columns=list('dabc'))

In [6]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [15]:
obj=Series([4,np.nan,7,np.nan,-3,2])

In [16]:
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [17]:
frame=DataFrame({'b': [4,7,-3,2], 'a': [0,1,0,1]})

In [18]:
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [20]:
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [21]:
frame.sort_values(by=['a','b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [22]:
obj=Series([7,-5,7,4,2,0,4])

In [23]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [24]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [30]:
?Series.rank()

In [31]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [32]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [33]:
obj.rank(ascending=False, method='min')

0    1.0
1    7.0
2    1.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

In [34]:
frame=DataFrame({'b':[4.3,7,-3,2], 'a':[0,1,0,1], 'c':[-2,5,8,-2.5]})

In [35]:
frame

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [36]:
frame.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

In [37]:
sbj=Series(range(5), index=list('aabbc'))

In [38]:
sbj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [40]:
sbj.index.is_unique

False

In [41]:
sbj['a']

a    0
a    1
dtype: int64

In [42]:
df=DataFrame(np.random.randn(4,3), index=list('aabb'))

In [43]:
df

          0         1         2
a -0.403818  3.577179 -0.485548
a  0.772571  2.105586  0.504054
b  0.079852  0.251359 -0.234216
b -0.001608 -0.641193  0.482867

In [45]:
df.ix['b']

          0         1         2
b  0.079852  0.251359 -0.234216
b -0.001608 -0.641193  0.482867

In [5]:
df=DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]], index=['a','b','c','d'], columns=['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [6]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [9]:
df.idxmax()

one    b
two    d
dtype: object

In [10]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [11]:
df.describe()

F:\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%         NaN       NaN
50%         NaN       NaN
75%         NaN       NaN
max    7.100000 -1.300000

In [12]:
obj=Series(['a','a','b','c']*4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [13]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [14]:
obj.unique()

array(['a', 'b', 'c'], dtype=object)

In [20]:
import pandas.io.data as web
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2000', '1/1/2010')
price = DataFrame({tic: data['Adj Close']
    for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume']
    for tic, data in all_data.iteritems()})

In [21]:
returns=price.pct_change()

In [22]:
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2009-12-24  0.034339  0.011117  0.004385  0.002587
2009-12-28  0.012294  0.007098  0.013326  0.005484
2009-12-29 -0.011861 -0.005571 -0.003477  0.007058
2009-12-30  0.012147  0.005376  0.005461 -0.013699
2009-12-31 -0.004300 -0.004416 -0.012597 -0.015504

In [23]:
returns.MSFT.corr(returns.IBM)

0.49597963862836736

In [24]:
returns.MSFT.cov(returns.IBM)

0.0002159576114866086

In [25]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.470676  0.410011  0.424305
GOOG  0.470676  1.000000  0.390689  0.443587
IBM   0.410011  0.390689  1.000000  0.495980
MSFT  0.424305  0.443587  0.495980  1.000000

In [26]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.001027  0.000303  0.000252  0.000309
GOOG  0.000303  0.000580  0.000142  0.000205
IBM   0.000252  0.000142  0.000367  0.000216
MSFT  0.000309  0.000205  0.000216  0.000516

In [27]:
returns.corrwith(returns.IBM)

AAPL    0.410011
GOOG    0.390689
IBM     1.000000
MSFT    0.495980
dtype: float64

In [28]:
returns.corrwith(volume)

AAPL   -0.057549
GOOG    0.062647
IBM    -0.007892
MSFT   -0.014245
dtype: float64

In [29]:
obj=Series(['c','a','d','a','a','b','b','c','c'])
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [30]:
uniques=obj.unique()

In [31]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [32]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [36]:
pd.value_counts(obj.values, sort=False)

a    3
c    3
b    2
d    1
dtype: int64

In [39]:
mask=obj.isin(['b','c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [41]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [42]:
data=DataFrame({'Q1': [1,3,4,3,4],
                'Q2': [2,3,1,2,3],
                'Q3': [1,5,3,4,4]})
data

   Q1  Q2  Q3
0   1   2   1
1   3   3   5
2   4   1   3
3   3   2   4
4   4   3   4

In [43]:
result=data.apply(pd.value_counts).fillna(0)
result

    Q1   Q2   Q3
1  1.0  1.0  1.0
2  0.0  2.0  0.0
3  2.0  2.0  1.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [45]:
string_data=Series(['aard','anti',np.nan,'avo'])

In [46]:
string_data

0    aard
1    anti
2     NaN
3     avo
dtype: object

In [47]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [49]:
string_data[0]=None

In [50]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool