In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
frame= DataFrame({'a': range(7), 'b': range(7,0,-1),
                  'c':['one','one','one','two','two','two','two'],
                  'd':[0,1,2,0,1,2,3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [3]:
frame2=frame.set_index(['c','d'])

In [4]:
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [5]:
frame.set_index(['c','d'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [6]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

In [7]:
ser=Series(np.arange(3))

In [8]:
ser[-1]

KeyError: -1L

In [8]:
ser

0    0
1    1
2    2
dtype: int32

In [9]:
ser2=Series(np.arange(3), index=list('abc'))

In [10]:
ser2

a    0
b    1
c    2
dtype: int32

In [11]:
ser2[-1]

2

In [13]:
ser.ix[:1]

0    0
1    1
dtype: int32

In [14]:
ser3=Series(np.arange(3), index=[-5,1,3])
ser3

-5    0
 1    1
 3    2
dtype: int32

In [19]:
ser3.iget_value(2)

F:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: iget_value(i) is deprecated. Please use .iloc[i] or .iat[i]
  if __name__ == '__main__':

2

In [20]:
ser3.iloc[2]

2

In [22]:
frame= DataFrame(np.arange(6).reshape((3,2)), index=[2,0,1])
frame

   0  1
2  0  1
0  2  3
1  4  5

In [24]:
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int32

In [27]:
import pandas.io.data as web
pdata = pd.Panel(dict((stk, web.get_data_yahoo(stk, '1/1/2009', '6/1/2012'))
for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

In [28]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 868 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2009-01-02 00:00:00 to 2012-06-01 00:00:00
Minor_axis axis: Open to Adj Close

In [29]:
pdata.swapaxes('items','minor')

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 868 (major_axis) x 4 (minor_axis)
Items axis: Open to Adj Close
Major_axis axis: 2009-01-02 00:00:00 to 2012-06-01 00:00:00
Minor_axis axis: AAPL to MSFT

In [34]:
pdata['Adj Close']

KeyError: 'Adj Close'

In [35]:
!cat appy.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [37]:
df=pd.read_csv('appy.csv')

IOError: File appy.csv does not exist

In [38]:
import os
print os.getcwd()

C:\Users\AA\Documents\Pandas

In [39]:
df=pd.read_csv('appy.csv')

In [40]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [41]:
!cat appy.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [42]:
pd.read_table('appy.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo